@use '../../../../styles/index.scss' as *;

.title-header {
    background: $gradient-header;

    .icon {
        background: $card-icon-background
    }
}

.vehicle-chip {
    background: $card-icon-background!important;

    mat-icon {
        color: $color-primary;
    }
}